@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1vw;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 4.266vw;
  }
}

@layer base {
  @font-face {
    font-family: 'svn400';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/fonts/SVN-Gilroy\ Light.otf');
  }
  @font-face {
    font-family: 'svn500';
    font-style: normal;
    font-weight: 500;
    src: url('../../public/fonts/SVN-Gilroy\ Medium.otf');
  }
  @font-face {
    font-family: 'svn600';
    font-style: normal;
    font-weight: 600;
    src: url('../../public/fonts/SVN-Gilroy\ SemiBold.otf');
  }
  @font-face {
    font-family: 'svn800';
    font-style: normal;
    font-weight: 800;
    src: url('../../public/fonts/SVN-Gilroy\ XBold.otf');
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .flip {
    transform: scaleX(-1);
  }
}
